body {
    background-color: rgb(211, 241, 247);
}

a {
    text-decoration: none;
}

header {
    text-align: center;
}

hr  {
    border: solid 2px black;
    margin: 26px 0 36px 0;
    clear: both;  

}

h1::after, h2::after {
    content: url(20.png);
    margin-left: 10px;
     
}

span {
    display: block;
}

header ul{
    padding: 2px;
    display: inline-block;
    text-align: left;  
    
}

section {
    margin: 40px;
    padding: 20px;
    padding-bottom: 100px;
    background-color: white;
}

.navigation {
    padding: 6px;
    background-color: rgb(230, 223, 241);
    border-radius: 10px;
}

.content {
    border: solid 1px black;    
    padding: 8px;
    margin: 20px 0 6px 0;
    overflow: hidden;
}

.content:nth-child(even) img {
    float: left;
    margin: 0 10px 0 0;
}

.content:nth-child(odd) img {
    float: right;
    margin: 0 0 0 10px;
    
}


button {
    float: right;
    margin: 21px;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    background-color: cornflowerblue;   
    box-shadow: 2px 4px rgb(48, 44, 44);
    border: none;
}

button:hover {
    background-color: #45beee
}


.visit-block {
    border: solid 1px blue;
    border-radius: 6px;
    padding: 14px;
    width: 86px;
    background-color: rgb(205, 220, 248);
    text-align: center;
    margin-bottom: 20px;
}

#hidden:not(:target) div, #hidden2:not(:target) div, #hidden3:not(:target) div, #hidden4:not(:target) div, #hidden5:not(:target) div, #hidden6:not(:target) div {
    display: none;
}

#hidden:target div, #hidden2:target div, #hidden3:target div, #hidden4:target div, #hidden5:target div, #hidden6:target div  {
    display: block;
    
}


.visit-block:target  {
    display: block;
    width: 50%;
    background-color: white;
    border: solid 1px rgb(80, 74, 74);
    text-align:left;
    
}

footer {
    padding: 20px;
    background-color: rgb(158, 158, 158);
}

span {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.social-icons {
  text-align: left;
  padding: 0;
}  

 

.social-icons li {
  display:inline-block;
  list-style-type:none;
  margin-right: 8px;
  
  
}


.social-icons li img {
  width:30px;
  height:30px;
  
}

.social-icons li img:hover {
    width:36px;
    height:36px;
    
  }






