.main {
    width: 300px;
    height: 200px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: white;
    padding: 1em;
    
}

h1 {
    font-size: 1.2em;
    background-image: url("409.png");
    background-repeat: no-repeat;
    background-position: right 0.5em top 0;
    background-size: contain;
    padding: 0.1em;
    margin: 0.5em 0.5em 0 0.5em;
    
}

.content {
    border: 0.5em double rgba(0,102,255,1);;
    border-radius: 8px;
    height: 100%;
    overflow: auto;
    padding: 0.1em;
    background-color: #ffc;
    background-clip: content-box;
    
}